$N_COLUMNS: 12;
$MAX_GAP: 10;

$breakpoints-map: (
   xs: 320px,
   sm: 576px,
   md: 768px,
   lg: 992px,
   xl: 1200px,
   xxl: 1400px,
);

.grid-container {
   display: flex;
   flex-wrap: wrap;
   gap: var(--spacing-y) var(--spacing-x);
   --spacing-x: 1rem;
   --spacing-y: 1rem;
   --n-columns: #{$N_COLUMNS};
}

.col {
   flex: 0 0 auto;
}

[class*="col-"] {
   flex: 0 0 auto;
}

.grid-container > * {
   width: 100%;
}

.col-auto {
   width: auto;
}

@for $i from 0 through $MAX_GAP {
   $spacing: calc($i * 0.5rem);

   .sp-#{$i} {
      --spacing-x: #{$spacing};
      --spacing-y: #{$spacing};
   }
}

@for $i from 0 through $MAX_GAP {
   $spacing: calc($i * 0.5rem);

   .r-sp-#{$i} {
      --spacing-y: #{$spacing};
   }

   .c-sp-#{$i} {
      --spacing-x: #{$spacing};
   }
}

@for $i from 1 through $N_COLUMNS {
   .col-#{$i} {
      width: calc(
         100% *
            #{$i} /
            var(--n-columns) -
            (var(--n-columns) - #{$i}) *
            (var(--spacing-x) / var(--n-columns))
      );
   }
}

@each $breakpoint, $value in $breakpoints-map {
   @media (min-width: $value) {
      @for $i from 1 through $N_COLUMNS {
         .col-#{$breakpoint}-#{$i} {
            width: calc(
               100% *
                  #{$i} /
                  var(--n-columns) -
                  (var(--n-columns) - #{$i}) *
                  (var(--spacing-x) / var(--n-columns))
            );
         }
      }
   }
}
